<h1 class="text-center">Listing Admin Products</h1>
<div class="header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="logo pull-left">
            </div>
            <div class="btn-group pull-right">
              <div class="btn-group">
              </div>
              <div class="btn-group">
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <li>
                  <%= link_to  edit_user_registration_path do %>
                  <i class="fa fa-user" ></i> Account
                  <% end %>
                </li>
                  
                <li>
                <% if user_signed_in? %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-lock"></i> Log Out
                <% end %> 
                <% else %>
                <%= link_to new_user_session_path do %>
                <i class="fa fa-lock"></i> Login
                <% end %>
                <% end %> 
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header-middle-->
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Cat</th>
      <th>Subcat</th>
      <th>Product name</th>
      <th>Price</th>
      <th>Product image</th>
      <th>Product desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_products.each do |admin_product| %>
      <tr>
        <td><%= admin_product.cat_id %></td>
        <td><%= admin_product.subcat_id %></td>
        <td><%= admin_product.product_name %></td>
        <td><%= admin_product.price %></td>
        <td><%= admin_product.product_image %></td>
        <td><%= admin_product.product_desc %></td>
        <td><%= link_to 'Show', admin_product %></td>
        <td><%= link_to 'Edit', edit_admin_product_path(admin_product) %></td>
        <td><%= link_to 'Destroy', admin_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Product', new_admin_product_path %>